[merge]
  ff = false
[pull]
  rebase = true
[push]
  default = tracking
[alias]
  ci = commit
  co = checkout
  com = checkout master
  cod = checkout develop
  dh = diff HEAD^
  ls = log --graph --decorate --oneline
  ll = log --graph --decorate --stat --pretty=fuller
  s = status --short --branch
  po = push origin
  pom = push origin master
  rom = rebase origin/master
  rod = rebase origin/develop
  fo = fetch origin
  fom = "!git com && git fo && git rpo && git rom"
  fod = "!git cod && git fo && git rpo && git rod"
  rpo = remote prune origin
