[merge]
  ff = false
[pull]
  rebase = true
[push]
  default = tracking
[alias]
  ci = commit
  co = checkout
  com = "!git default-branch | xargs git checkout"
  cob = checkout -B
  ls = log --graph --decorate --oneline
  ll = log --graph --decorate --stat --pretty=fuller
  s = status --short --branch
  po = push origin
  rom = rebase origin/HEAD
  fo = fetch origin --prune
  fom = "!git com && git fo && git rom"
  default-branch = "!git symbolic-ref --short refs/remotes/origin/HEAD | cut -f2 -d/"
