[merge]
  ff = false
[pull]
  rebase = true
[push]
  default = tracking
[alias]
  ci = commit
  co = checkout
  ls = log --graph --decorate --oneline
  ll = log --stat --decorate --oneline --find-renames
  s = status --short --branch
  pom = push origin master
  rom = rebase origin/master
  fo = fetch origin

